<!DOCTYPE html>
<html>
  <head>
    <title>Lista predmeta</title>
  </head>
  <body>
    <h1>Lista predmeta koji imaju neispravno evidentirano vrijeme</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID predmeta</th>
          <th>Naziv predmeta</th>
          <th>ID tipa predavanja</th>
          <th>Naziv tipa predavanja</th>
          <th>Ukupno trajanje</th>
          <th>Predvidjeno trajanje</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <% data.forEach((predmet, index) => { %>
          <tr>
            <td><%= predmet?.id_predmet %></td>
            <td><%= predmet.naziv_predmeta %></td>
            <td><%= predmet.id_tip_predavanja %></td>
            <td><%= predmet.naziv_tipa_predavanja %></td>
            <td><%= predmet.ukupno_trajanje %></td>
            <td><%= predmet.predvideno_trajanje %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
