<!DOCTYPE html>
<html>
  <head>
    <title>Lista Fakulteta</title>
  </head>
  <body>
    <h1>Lista profesora</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Redni broj</th>
          <th>Naziv fakulteta</th>
          <th>Sifra u훾ionice</th>
          <th>Naziv u훾ionice</th>
          <th>Kapacitet u훾ionice</th>
          <th>Renoviranje u toku</th>
          <th>Raspolo탑iva za vannastavne aktivnosti</th>
        </tr>
        <% data.forEach(async (ucionica, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= ucionica.naziv_fakulteta %></td>
            <td><%= ucionica.sifra_ucionice %></td>
            <td><%= ucionica.naziv_ucionice %></td>
            <td><%= ucionica.broj_mjesta_ucionice %></td>
            <td><%= ucionica.renoviranje ? 'Da' : 'Ne'%></td>
            <td><%= ucionica.raspoloziva_za_vannastavna_predavanja ? 'Da' : 'Ne'%></td>
          </tr>
        <% }); %>        
      </thead>
      <tbody id="tableBody"></tbody>
    </table>
  </body>
</html>
